@page "/Role"
@model Role

@{
    ViewBag.Title = "Create Role";
}

<div class="container mt-5">
       <div class="d-flex justify-content-between align-items-center">
        <h2>Role List</h2>
        <div>
            <a class="btn btn-sm btn-primary" href="/Role/CreateRole">Create Role</a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <form method="get">
                    <button type="submit" class="no-style">
                        Index
                    </button>
                </form>
            </th>
            <th>
                <form method="get">
                    @*<input type="hidden" asp-for="SortBy" value="@TodoSortField.Name"/>
                    <input type="hidden" asp-for="SortDescending" value="@(!Model.SortDescending)"/>*@
                    <button type="submit" class="no-style">
                        Name @*@(Model.SortBy == TodoSortField.Name && Model.SortDescending ? "↓" : "↑")*@
                    </button>
                </form>
            </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.RoleServiceResponse is not null)
        {
            int index = 1;
            foreach (var roleResponse in Model.RoleServiceResponse.RoleResponses)
            {
                <tr>
                    <td>@index</td>
                    <td>@roleResponse.RoleName</td>
                    <td>
                        <div class="d-flex gap-2">
                            <a class="btn btn-sm btn-primary" href="/Role/EditRole/@roleResponse.RoleId">Edit</a>
                            <form method="post">
                                <input type="hidden" name="RoleId" asp-for="RoleId" value="@roleResponse.RoleId"/>
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                index++;
            }
        }
        else
        {
            <tr>
                <td colspan="3">No Roles found.</td>
            </tr>
        }
        </tbody>
    </table>
</div>