@page "/createTodo"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TodoRESTApi.Core.Enums
@model TodoRESTApi.WebAPI.Pages.CreateTodoModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Create a New Todo</h2>
<form method="post">
    <div class="mb-3">
        <label asp-for="TodoAddRequest.Name" class="form-label"></label>
        <input asp-for="TodoAddRequest.Name" class="form-control"/>
        <span asp-validation-for="TodoAddRequest.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TodoAddRequest.Description" class="form-label"></label>
        <textarea asp-for="TodoAddRequest.Description" class="form-control"></textarea>
        <span asp-validation-for="TodoAddRequest.Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input type="hidden" id="userTimeZone" asp-for="TodoAddRequest.TimeZone">
        <label asp-for="TodoAddRequest.DueDate" class="form-label"></label>
        <input asp-for="TodoAddRequest.DueDate" class="form-control" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"/>
        <span asp-validation-for="TodoAddRequest.DueDate" class="text-danger"></span>
        <span asp-validation-for="TodoAddRequest.TimeZone" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TodoAddRequest.Status" class="form-label"></label>
        <select asp-for="TodoAddRequest.Status" class="form-select">
            <option value="">Select Status</option>
            @foreach (var status in Enum.GetValues(typeof(TodoStatus)))
            {
                <option value="@status">@status</option>
            }
        </select>
        <span asp-validation-for="TodoAddRequest.Status" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TodoAddRequest.Priority" class="form-label"></label>
        <select asp-for="TodoAddRequest.Priority" class="form-select">
            <option value="">Select Priority</option>
            @foreach (var status in Enum.GetValues(typeof(TodoPriority)))
            {
                <option value="@status">@status</option>
            }
        </select>
        <span asp-validation-for="TodoAddRequest.Priority" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TodoAddRequest.Category" class="form-label"></label>
        <input asp-for="TodoAddRequest.Category" class="form-control"/>
        <span asp-validation-for="TodoAddRequest.Category" class="text-danger"></span>
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Create Todo</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
